<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>spring-mvc-demo</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/home.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>s0</servlet-name>
		<servlet-class>co.vinod.training.web.HelloServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>s0</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<!-- This creates an instance of DispatcherServlet, which looks by default for an XML
	with the name of /WEB-INF/s1-servlet.xml. Alternately, you may specify the name of the XML you have
	by supplying an init-param called contextConfigLocation -->
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>